/* Reset básico y configuración de caja */
*, *::before, *::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* Variables */
:root {
    --primary-color: #002f4b; /* Navy */
    --secondary-color: #a67b5b; /* Bronze */
    --background-color: #f5f5f5; /* Light Gray*/
    --text-color: #4a4a4a; /* Dark Gray */
    --text-color-black: black; /* Dark */
    --font-family: 'Arial', sans-serif;
}

/* Fuente base */
body {
    font-family: var(--font-family);
    color: var(--text-color);
    line-height: 1.6;
    
}

/* Sombra para los h1 */
h2 {
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.497); /* X-offset, Y-offset, Blur-radius, Color */
}

.text-black{
    color: var(--text-color-black);    
}

.container {
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
}


.animate-text {
    display: inline-block; /* Permite que el contenedor ajuste su tamaño al contenido */
    opacity: 0; /* Comienza invisible */
    animation: fadeIn 2s forwards, typing 1.5s steps(100, end) forwards; /* Fade in y typing */
}

@keyframes fadeIn {
    from {
        opacity: 0; /* Comienza invisible */
    }
    to {
        opacity: 1; /* Termina completamente visible */
    }
}

@keyframes typing {
    from {
        width: 0; /* Comienza desde el ancho 0 */
    }
    to {
        width: 100%; /* Termina en el ancho completo */
    }
}

/* Estilo del encabezado */
header {
    background-color: var(--primary-color);
    color: #ffffff;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
    padding: 1rem 2rem;
    align-items: center;
    display: flex;
    justify-content: space-between; /* Espacio entre el h1 y el nav */
}

header h1 {
    font-size: 1.5rem;
    margin: 0; /* Elimina márgenes si hay */
    margin-right: 1rem; /* Añade espacio entre el h1 y el nav */
}

header nav {
    flex-grow: 1; /* Permite que el nav ocupe el espacio restante */
    display: flex;
    justify-content: flex-end; /* Alinea los elementos del nav a la derecha */
}


header nav ul {
    list-style: none;
    display: flex;
    gap: 1rem;
    list-style-type: none;
    padding: 0rem;
}



header nav ul li {
    margin: 0;
    display: inline;
    margin-right: 1rem;
}

header nav ul li a {
    color: #ffffff;
    text-decoration: none;
    transition: color 0.3s;
    text-align: end;
}

header nav ul li a:hover {
    color: var(--secondary-color);
}

.text-navy{
    color: var(--primary-color);
    text-decoration: none;
}

/* Sección principal */
section#inicio {
    background-image: url('../imagen/background.jpg');
    background-size: cover;
    background-position: center;
    color: #ffffff;
    text-align: end;
    padding: 5rem 1rem;
}

section#inicio h2 {
    font-size: 2.5rem;
}

section#inicio p {
    font-size: 1.5rem;
}

/* Sección de texto */
section {
    padding: 4rem 1rem;
}

section h2 {
    font-size: 2rem;
    color: var(--primary-color);
    margin-bottom: 1rem;
}

section p {
    font-size: 1.25rem;
    color: var(--text-color);
}

/* Sección de servicios */
section#servicios .grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 1rem;
}

.bg-container-small {
    background-color: var(--background-color);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    padding: 1.5rem;
    border-radius: 0.5rem;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border: 1px solid var(--secondary-color);
}

.bg-container-small:hover {
    transform: scale(1.05);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.bg-container-small i {
    font-size: 2rem;
    color: var(--secondary-color);
}

.bg-container-small h3 {
    font-size: 1.25rem;
    margin-bottom: 0.5rem;
}

.bg-container-small p {
    font-size: 1rem;
}

.w-12 {
    width: 3rem;
}

.h-12 {
    height: 3rem;
}

.w-6 {
    width: 1.5rem;
}

.h-6 {
    height: 1.5rem;
}

.mr-2 {
    margin-right: 0.5rem;
}

.mb-4 {
    margin-bottom: 1rem;
}


/* Sección de contacto */
section#contacto .flex {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

section#contacto .flex > div {
    display: flex;
    align-items: center;
}

section#contacto i {
    font-size: 1.5rem;
    color: var(--secondary-color);
    margin-right: 0.5rem;
}

/* Elimina el subrayado de los enlaces solo en la sección de contacto */
section#contacto a {
    text-decoration: none; /* Elimina el subrayado */
}

/* Opcional: Cambia el color de los enlaces al pasar el mouse */
section#contacto a:hover {
    color: var(--secondary-color); /* Cambia al color deseado al pasar el mouse */
}

/* Footer */
footer {
    background-color: var(--primary-color);
    color: #ffffff;
    padding: 1rem;
    text-align: center;
}

/* Estilos responsivos */
@media (min-width: 768px) {
    header nav ul {
        justify-content: end;
        gap: 2.5rem; /* Espacio entre elementos */
    }

    header nav ul li {
        margin: 0; /* Elimina el margen */
    }
    
    section#inicio h2 {
        font-size: 3rem;
        margin-top: 80px;
    }

    section#inicio p {
        font-size: 1.75rem;
    }
}

@media (max-width: 768px) {

    header {
        padding: 0.5rem 1rem; /* Ajusta según sea necesario */
    }

    header nav {
        display: none; /* Oculta el menú en dispositivos móviles */
    }
}
